<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>

<div th:if="${session.user != null}">
<span th:text="${session.user.email}"></span>
</div>

<div class="header-container">
    <div th:unless="${user}" class="login-container">
        <div class="login-buttons">
            <button type="button" onclick="location.href='/oauth2/authorization/naver';" class="btn btn-success">네이버 로그인</button>
            <button type="button" onclick="location.href='/oauth2/authorization/google';" class="btn btn-primary">구글 로그인</button>
        </div>
    </div>
    <div th:if="${user}" class="login-container">
        <div class="login-buttons">
            <span class="search-text">반갑습니다, <span th:text="${user.name}">ㅇㅇㅇ</span> 님!</span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        </div>
    </div>

    <div class="logo-div">
    <a href="localhost:8080/bbs">
        <img class="logo-image" src="/static/images/logo.png" th:src="@{/images/logo.png}"/>
    </a>
    </div>
    <div class="search-container">
        <h2 class="search-text">소환사 검색</h2>
        <form class="search-form" method="POST" action="/searchSummoner">
            <input class="search-input" type="text" name="summonerName">
            <button type="submit" class="btn btn-primary">검색</button>
        </form>
    </div>
</div>


<div class="center-container">
    <div class="rotation-div">금주의 로테이션 챔피언</div>
    <div class="free-champions-row">
        <div class="img-div" th:each="championName, iter : ${freeChampionNames1}">
            <div class="">
                <img class="champion-image" width="60px" height="60px" th:src="@{${'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + championName  + '.png'}}">
                <div class="champion-name" th:text="${championName}"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="free-champions-row">
        <div class="img-div" th:each="championName, iter : ${freeChampionNames2}">
            <div class="">
                <img width="60px" height="60px" th:src="@{${'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + championName  + '.png'}}">
                <div class="champion-name" th:text="${championName}"></div>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="bbs-container">
    <h2>게시판</h2>
    <form action method="GET">
        <input type="submit" name="postTag" class="tag-button btn btn-secondary" value="ALL"/>
        <input type="submit" name="postTag" class="tag-button btn btn-secondary" value="FREE"/>
        <input type="submit" name="postTag" class="tag-button btn btn-secondary" value="TOP"/>
        <input type="submit" name="postTag" class="tag-button btn btn-secondary" value="JUG"/>
        <input type="submit" name="postTag" class="tag-button btn btn-secondary" value="MID"/>
        <input type="submit" name="postTag" class="tag-button btn btn-secondary" value="ADC"/>
        <input type="submit" name="postTag" class="tag-button btn btn-secondary" value="SUP"/>
        <a href="/bbs/write" th:href="@{/bbs/write}" class="btn btn-info" role="button">글쓰기</a>
    </form>
    <hr>
    <table class="table">
        <tr class="table-primary">
            <th>분류</th>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        <tr th:each="post : ${posts}">
            <td th:text="${post.postTag}"></td>
            <td><a th:text="${post.id}" th:href="@{/bbs/read/{id}(id = ${post.id})}"></a></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.author}"></td>
        </tr>
    </table>
</div>
<script src="/static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>