<!DOCTYPE html>
<html>

<header th:fragment="header">
    <div class="header-container">
        <div th:unless="${session.user}" class="login-container">
            <div class="login-div-form">
                <p class="login-text">GG.WP를 더 편리하게 이용하세요</p>
                <form class="login-form" method="POST" action="/bbs/login" th:action="@{/bbs/login}">
                    <div class="form-floating mb-3 login-form-email">
                        <input type="email" name="email" class="form-control" id="floatingInput"
                               placeholder="name@example.com">
                        <label for="floatingInput">이메일 주소</label>
                    </div>
                    <div class="form-floating login-form-password">
                        <input type="password" name="password" class="form-control" id="floatingPassword"
                               placeholder="Password">
                        <label for="floatingPassword">비밀번호</label>
                    </div>
                    <button type="submit" class="login-button">GG.WP 로그인</button>
                    </br>
                </form>

                <a class="register-link fas fa-lock" href="/bbs/reset-password"
                   th:href="@{/bbs/reset-password}">비밀번호찾기</a>
                <a class="find-link fas fa-user-alt" href="/bbs/register" th:href="@{/bbs/register}">회원가입</a>
                <div class="oauth-login-div">
                    <button type="button" onclick="location.href='/oauth2/authorization/naver';"
                            class="oauth-login-button btn btn-success">네이버 로그인
                    </button>
                    ㅣ
                    <button type="button" onclick="location.href='/oauth2/authorization/google';"
                            class="oauth-login-button btn btn-primary">구글 로그인
                    </button>
                </div>
            </div>
        </div>
        <div th:if="${session.user}" class="userinfo-container">
            <span class="search-text">반갑습니다, <span th:text="${session.user.name}">ㅇㅇㅇ</span> 님!</span>
            <div class="userinfo-buttons" th:if="${session.user.ggwpUserDto.emailAuth == false}">
                <a class="btn btn-primary active" href="/bbs/email/send" th:href="@{/bbs/email/send}">이메일 인증하기</a>
            </div>
            <a href="/bbs/logout" class="btn btn-secondary active" role="button">Logout</a>
        </div>
        <div class="logo-div">
            <a href="http://localhost:8080/bbs">
                <img class="logo-image" src="/static/images/logo.png" th:src="@{/images/logo.png}"/>
            </a>
        </div>
        <div class="search-container">
            <h2 class="search-text">소환사 검색</h2>
            <form class="input-group mb-3" method="POST" action="/searchSummoner">
                <input type="text" class="form-control" name="summonerName" placeholder="소환사명">
                <button class="btn btn-outline-primary active" type="submit">검색</button>
            </form>
        </div>
    </div>
</header>

</html>