<!DOCTYPE html>
<html>

<header th:fragment="header">
    <div class="header-container">
        <div th:unless="${session.user}" class="login-container">
            <div class="register-div-form">
                <p class="login-text">GG.WP를 더 편리하게 이용하세요</p>
                <button class="login-button" onclick="location.href='/bbs/login'">GG.WP 로그인</button></br>
                <a class="register-link fas fa-lock">아이디ㆍ비밀번호찾기</a>
                <a class="find-link fas fa-user-alt">회원가입</a>
                <div class="oauth-login-div">
                    <button type="button" onclick="location.href='/oauth2/authorization/naver';" class="oauth-login-button btn btn-success">네이버 로그인</button>
                    <button type="button" onclick="location.href='/oauth2/authorization/google';" class="oauth-login-button btn btn-primary">구글 로그인</button>
                </div>
            </div>
        </div>
        <div th:if="${session.user}" class="login-container">
            <div class="login-buttons">
                <span class="search-text">반갑습니다, <span th:text="${session.user.name}">ㅇㅇㅇ</span> 님!</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            </div>
        </div>

        <div class="logo-div">
            <a href="localhost:8080/bbs">
                <img class="logo-image" src="/static/images/logo.png" th:src="@{/images/logo.png}"/>
            </a>
        </div>
        <div class="search-container">
            <h2 class="search-text">소환사 검색</h2>
            <form class="search-form" method="POST" action="/searchSummoner">
                <input class="search-input" type="text" name="summonerName">
                <button type="submit" class="btn btn-primary">검색</button>
            </form>
        </div>
    </div>
</header>

</html>