body {
    margin: 0;
    padding: 0;
    background-color: #EEF1FF;
}

.header-container {
    background-color: #393E46;
    height: 350px;
}

.login-container {
    display: inline;
    float: right;
}

.login-buttons {
    margin-left: auto;
    display: inline;
}

.userinfo-container {
    display: inline;
    background-color: #f4f4f4;
    float: right;
    padding: 15px;
    border: 1px solid black;
    margin-top: 30px;
    margin-right: 30px;
}

.userinfo-buttons {

}

.bbs-container {
    border: 3px solid gray;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.logo-div {
    width: 235px;
    height: 235px;
    margin: 0 auto;
}

.logo-image {
    width: 235px;
    height: 235px;
}

.search-text {
    display: block;
    color: black;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;
}

.search-container {
    width: 400px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    /*
    background-color: red;
    text-align: center;
    padding-bottom: 30px;
    */
}

.img-div {
    display: inline-block;
    padding-left: 10px;
}

.free-champions-row {
    padding-left: 5px;
}

.center-container {
    width: 620px;
    padding: 0;
    margin: 10px auto 0;
    border: 1px solid grey;
    border-radius: 3px;
}

.profile-container {
    width: 620px;
    padding: 3px;
    margin: 10px auto 0;
    border: 1px solid grey;
    border-radius: 3px;
}

.search-input {
    width: 300px;
}

.search-form {
}

.champion-name {
    font-size: 4px;
    text-align: center;
}

.rotation-div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.profileIcon {
    width: 80px;
    height: 80px;
}

.emblemIcon {
    width: 100px;
    height: 100px;
}

.username {
    font-size: 25px;
    font-weight: bold;
    vertical-align: top;
}

.box-1px-grey {
    padding: 2px;
    font-size: 11px;
    border: 1px solid grey;
    border-radius: 3px;
    position: relative;
}

.tag-button {

}

.login-div-form {
    z-index: 100;
    background-color: #f4f4f4;
    text-align: center;
    width: 320px;
    padding: 10px 0 10px 0;
    margin-top: 10px;
    margin-right: 10px;
}

.register-div-form {
    padding: 20px;
    background-color: #ffffff;
    width: 500px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.register-text {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

.login-text {
    display: block;
    margin-bottom: 10px;
    color: grey;
}

.login-button {
    background-color: grey;
    display: block;
    width: 80%;
    font-size: 30px;
    margin: -5px auto -18px;
    color: white;
    border: 0;
}

.register-button {
    background-color: grey;
    display: block;
    width: 100%;
    font-size: 30px;
    margin: -5px auto -18px;
    color: white;
    border: 0;

}

.register-link-div {
    text-align: center;
}

.register-link {
    text-decoration-line: none;
    color: black;
}

.register-link:hover {
    color: black;
    text-decoration: underline;
}

.find-link {
    color: black;
    display: inline;
    text-decoration-line: none;
}

.find-link:hover {
    color: black;
    text-decoration: underline;
}

.main-link {
    color: black;
    display: inline;
    text-decoration-line: none;
    margin-right: 10px;
}

.main-link:hover {
    color: black;
    text-decoration: underline;
}

.oauth-login-div {
    margin-top: 5px;
}

.login-form {
    text-align: left;
}

.login-form-email {
    margin: 0 10px;
}

.reset-password-form-email {
    margin: 0 auto;
    display: block;
    width: 300px;
    text-align: center;
}

.login-form-password {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.login-form-enter {
    display: none;
}

.reset-password-div-form {
    width: 400px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reset-password-text {
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.reset-password-info-text {
    display: block;
    color: grey;
}

.reset-password-link-div {
    text-align: center;
}

.reset-password-button {
    text-align: center;
    margin: 10px auto;
    display: block;
}