<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div class="search-container">
    <form class="search-form" method="GET" action="/search">
        <input type="text" name="summonerName">
        <button type="submit">검색</button>
    </form>
</div>

<div class="center-container">
    <div class="rotation-div">금주의 로테이션 챔피언</div>
    <div class="free-champions-row">
        <div class="img-div" th:each="championName, iter : ${freeChampionNames1}">
            <div class="">
                <img class="champion-image" width="60px" height="60px"
                     th:src="@{${'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + championName  + '.png'}}">
                <div class="champion-name" th:text="${championName}"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="free-champions-row">
        <div class="img-div" th:each="championName, iter : ${freeChampionNames2}">
            <div class="">
                <img width="60px" height="60px"
                     th:src="@{${'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + championName  + '.png'}}">
                <div class="champion-name" th:text="${championName}"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>